<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VenteEnLigneWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.eni.dvtejb.web.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestTransactionBMT</display-name>
    <servlet-name>TestTransactionBMT</servlet-name>
    <servlet-class>com.eni.dvtejb.web.TestTransactionBMT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestTransactionBMT</servlet-name>
    <url-pattern>/TestTransactionBMT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServiceServlet</display-name>
    <servlet-name>TestServiceServlet</servlet-name>
    <servlet-class>com.eni.dvtejb.web.TestServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServiceServlet</servlet-name>
    <url-pattern>/TestServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestTimer</display-name>
    <servlet-name>TestTimer</servlet-name>
    <servlet-class>com.eni.dvtejb.web.TestTimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestTimer</servlet-name>
    <url-pattern>/TestTimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayBlobExample</display-name>
    <servlet-name>DisplayBlobExample</servlet-name>
    <servlet-class>com.eni.dvtejb.web.DisplayBlobExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBlobExample</servlet-name>
    <url-pattern>/DisplayBlobExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientCompteurServlet</display-name>
    <servlet-name>ClientCompteurServlet</servlet-name>
    <servlet-class>com.eni.dvtejb.web.ClientCompteurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientCompteurServlet</servlet-name>
    <url-pattern>/ClientCompteurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RESTJersey</servlet-name>
    <servlet-class>
                com.sun.jersey.spi.container.servlet.ServletContainer
            </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RESTJersey</servlet-name>
    <url-pattern>/REST/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeArticlesJasperServlet</display-name>
    <servlet-name>ListeArticlesJasperServlet</servlet-name>
    <servlet-class>com.eni.dvtejb.web.ListeArticlesJasperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeArticlesJasperServlet</servlet-name>
    <url-pattern>/ListeArticlesJasperServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RapportGraphiqueJasperServlet</display-name>
    <servlet-name>RapportGraphiqueJasperServlet</servlet-name>
    <servlet-class>com.eni.dvtejb.web.RapportGraphiqueJasperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RapportGraphiqueJasperServlet</servlet-name>
    <url-pattern>/RapportGraphiqueJasperServlet</url-pattern>
  </servlet-mapping>
</web-app>